.add-orders {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    height: 100%;
    overflow: auto;
    padding-bottom: 100px;
 }
.add-orders__form {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px 30px;
    /* max-width: 900px; */
    width: 97%;
    border-radius: 10px;
    box-shadow: -5px 5px 7px 0 rgba(0, 0, 0, 0.1);
 }
 .add-orders__label{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
.add-o__input {
    outline: none;
    border: 1px solid #dbdee5ea;
    margin: 5px 0;
    padding: 15px 15px;
    border-radius: 5px;
    width: 100%;
 }
 .add-orders__price { 
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.add-orders__price-lable { 
    display: block;
    border: 1px solid #dbdee5ea;
    margin: 10px;
    padding: 10px 13px;
    cursor: pointer;
}
.add-orders__price-item { 
    /* display: none; */
    position: absolute;
    opacity: 0;
}

.add-orders__price-btn{
    position: relative;
}

.add-orders__price-item:checked + label{
  
    background-color: green;
}
.add-orders__price-title{
    align-self: flex-start;
}
.add-orders__btn { 
    min-width: 230px;
    border-radius: 5px;
    background-color: #7366ff;
    border: none;
    padding: 15px 15px;
    outline: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    width: 30%;
    white-space: nowrap;
}
.add-orders__btn:hover{
    
    background-color: #4433ff;
 }

 .add-orders__btn-wrapp{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 97%;
 }

 .add-orders__users-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 30px;
    width: 97%;
    border-radius: 10px;
    box-shadow: -5px 5px 7px 0 rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow: auto;
    margin-bottom: 20px;
 }



.add-orders__client {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border: 2px solid #ff6247ea;
    border-radius: 5px;
    min-height: 47px;
    padding: 10px;
    align-self: flex-start;
 }
.add-orders__client-photo {
    margin-right: 10px;
 }
.client-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}
.client-name { }



 



