.order { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.7);
    z-index: 50;
   
}
.order__inner { 
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    padding: 15px;
    overflow: auto;
}

.order__close{
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: red;
    cursor: pointer;
    z-index: 80;
}
.order__top {
    display: flex;
    align-items: center;
    min-height: 55px;

 }
.order-title { }
.order__name-session { }
.order__info {
    display: flex;
    margin-bottom: 30px;
 }
.order__info-photo { 
    width: 49%;
}
.order__info-img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.order__info-details {
    width: 49%;
    margin-left: 15px;
 }
.order__info-details-row { 
    display: flex;
    white-space: nowrap;
    border: 1px solid #dbdee5ea;
}
.order__info-details-row:not(:first-child){
    border-top: none;
}
.order__info-details-name { 
    text-align: right;
    width: 40%;
    background-color: #dbdee575;
    padding: 6px;
}
.order__info-details-value {
    width: 60%;
    padding: 6px;
 }
.order-download {
    margin-bottom: 30px;
 }
.order-download__title {
    border: 1px solid #dbdee5ea;
    background-color: #dbdee575;
    padding: 5px;
    text-align: center;
 }
.order-download__table { }

 .order-download__table-row { 
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    border: 1px solid #dbdee5ea;
    border-top: none;
    padding: 5px;
 }
 .order-download__table-row:not(:first-child){
     padding: 15px 0;
     
 }
 .order-download__table-row:first-child{
    background-color: #dbdee53a;
 }
 .order-download__table-info{
     width: 20%;
     text-align: center;
 }

.order__gallery { }
.order__gallery-title {
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
 }
.order__gallery-itm{
    padding: 5px 15px;
    cursor: pointer;
    
 }
 .order__gallery-itm:hover{
     color: #dbdee5ea;
 }
 .order__gallery-itm:not(:last-child){
     border-right: 1px solid #dbdee5;
 }
.order__gallery-items { }
.order__gallery-item { }