html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    
}

body{
    overflow: hidden;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

 
 
.display-none{
    display: none !important;
}

.form-validator{
    margin: 0 auto 10px;
    text-align: center;
    color: red;
}

.border-error{
    border: 1px solid red !important;
}