.top-panel { 
    width: 100%;
    display: flex;
    justify-content: flex-end;
    min-height: 70px;
    align-items: center;
    padding: 15px 40px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    box-shadow: -8px 8px 14px 0 rgba(25,42,70,.11);
}
.top-panel__profile { 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.top-panel__profile-name { }
.top-panel__profile-status { }
.top-panel__profile-nav {
    visibility: hidden;
    position: absolute;
 }
.top-panel__profile-nav-link { }